<div class="img-wrap">
  <%= image_tag "rat_large.svg"  %>
  <p>
    Stinkbug underlord, one man revolution, cat wrangler, legend.
  </p>

  <%= image_tag "oren.jpg", class: "about-img oren img-rounded" %>
  <%= image_tag "peter.jpg", class: "about-img peter img-rounded" %>
  <%= image_tag "meg.jpg", class: "about-img meg img-rounded" %>
  <%= image_tag "kyle.jpg", class: "about-img kyle img-rounded" %>

  <div class="oren-description">
    <b>Oren Shoham</b> is a cultist of the dark god Nyarlathotep. His favorite pastimes include ritual sacrifice, drinking goat blood, and speaking in tongues. He is not, however, David Byrne, a flaw we have never forgiven him for.
  </div>
  <div class="peter-description">
    <b>Peter Fogg</b> is a wizard of the third age. His grasp of sorcery is unparalleled in this land. He is, however, afraid of weasels. His pastimes include tomes, fanfiction written exclusively by wizards, and FarmersOnly.com.
  </div>
  <div class="meg-description">
    <b>Meg Davis</b> is the last human being alive on this planet. There is no hope. She enjoys... surviving, and the perfect alignment of the moons. 
  </div>
  <div class="kyle-description">
    <b>Kyle Aungst</b> is an unknown entity. No one really knows anything about Kyle. He showed up one day, and we haven't really been able to make him leave.
  </div>
</div>

