<div class="img-wrap">
  <%= image_tag "rat_large.svg"  %>
  <p>
    Stinkbug underlord, one man revolution, cat wrangler, legend.
  </p>

  <%= image_tag "kyle.jpg" %>
  <%= image_tag "peter.jpg" %>
  <%= image_tag "meg.jpg" %>
  <%= image_tag "oren.jpg" %>
</div>

