<h1>Your notebooks</h1>
<div class="notebooks">
  <ul>
    <% @notebooks.each do |notebook| %>
      <li><%= link_to notebook.name, notebook %></li>
    <% end %>
  </ul>
  <button href="#" id="new-notebook" class="btn btn-default">New Notebook</button>
  <div class="new-notebook-form hidden">
    <%= form_for(@notebook, url: user_notebooks_path) do |form| %>
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, :class => 'form-control' %>
    </div>
    <%= form.submit "Create Notebook", :class => 'btn btn-primary btn-block' %>
    <% end %>
  </div>
  <script type="text/javascript">
    var createNotebook = new Labrats.Views.NotebookIndex({
      el: $('.notebooks'),
      user_id: <%= current_user.id %>
    });
  </script>
</div>
