<!DOCTYPE html>
<html>
<head>
  <title>Labrats</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <%= csrf_meta_tags %>
  <% ["page_template",
     "tab_group_template",
     "text_box_template",
     "draw_box_template",
     "file_upload_box_template",
     "page",
     "tab_group",
     "text_box",
     "draw_box",
     "file_upload_box"].each do |template_name| %>
    <script type="text/template" id="<%= template_name %>-tpl">
      <%= File.read("app/assets/javascripts/backbone/templates/#{template_name}.underscore").html_safe %>
    </script>
  <% end %>
</head>
<body>

  <%= render('layouts/header') %>

  <div class="container">
    <%= yield %>
  </div>

  <footer class="footer">
  <!--  <%= debug(params) if Rails.env.development? %>   -->
  </footer>

</body>
</html>
